/*Variables*/

:root {
  --white: #fff;
  --black: #000;
  --grey: #555;

  --eggshell: #eee8d6;
  --darkblue: #022933;
  --yellow: #f3d350;
  --blue: #0076a3;
  --green: #bfc406;
  --red: #d14348;
  --purple: #6d73c2;

  --orange: #e67e22;
  --mid-orange: #cf6d17;

  --color-light: var(--white);
  --color-dark: var(--black);
  --color-main: var(--color-light);
  --color-background: var(--blue);
  --color-links: var(--yellow);
  --color-navigation-links: var(--blue);

  --font-size-base: 62.5%;
  --line-height-base: 150%;
  --font-primary: 'Work Sans', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --font-weight-light: 100;
  --font-weight-normal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*custom properties*/
  --container-small-width: 50%;
  --container-default-width: 90%;
  --container-max-width: 1200px;

  --width-standard: {
    width: var(--container-default-width);
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
  /*Custom media*/
  @custom-media --viewport-small (width >= 576px);
  @custom-media --viewport-medium (width >= 768px);
  @custom-media --viewport-large (width >= 992px);
  @custom-media --viewport-extralarge (width >= 1200px);

  @custom-selector :--headings h1, h2, h3, h4, h5, h6;
} /* root */

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

$primary-light-green: #7ed56f;
$primary-green: #55c57a;
$primary-dark-green: #28b485;

$secondary-light: #ffb900;
$secondary-dark: #ff7730;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ('small': 320px, 'medium': 768px, 'large': 1024px) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$black: rgb(34, 34, 34) !default;
