.cities {
  padding: 8rem;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    padding: 5rem;
  }

  @include respond(tab-port-s) {
    padding: 4rem 1rem;
  }

  .city__feature {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.6rem;

    & i {
      font-size: 2.4rem;
      margin-right: 1rem;
      text-align: center;
      display: inline-block;
      width: 4rem;
      color: var(--mid-orange);
    }

    & a:link,
    a:visited {
      width: 100%;
      text-decoration: none;
      color: var(--orange);
      border-bottom: 1px solid transparent;
      padding-bottom: 0.3rem;
      transition: all 0.2s;

      &:hover,
      &:active {
        color: var(--mid-orange);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid var(--orange);
      }
    }
  }

  & .row:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    @include respond(tab-port) {
      & .column {
        flex: 0 0 48%;
        margin: 5% 1%;
      }

      & .city__feature {
        margin-left: 6rem;
      }
    }

    @include respond(tab-port-s) {
      & .city__feature {
        margin-left: 1rem;
      }
    }
    @include respond(phone) {
      & .column {
        flex: 0 0 98%;
        margin: 5% 1%;

        align-items: center;
        margin: 2rem 0 0 0;
      }
    }
  }

  & .column {
    margin: 5rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  & .column img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

    @include respond(phone) {
      width: 80%;
      height: auto;
      margin-bottom: 1rem;
    }
  }
}
