.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 10rem;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    background: var(--mid-orange);
  }

  &--full {
    color: var(--color-light);
    background: var(--orange);
    border: 1px solid var(--orange);
    margin-right: 1.5rem;
    &:hover {
      border: 1px solid var(--mid-orange);
    }
  }

  &--ghost {
    color: var(--orange);
    border: 1px solid var(--orange);

    &:hover {
      border: 1px solid var(--mid-orange);
      color: var(--color-light);
    }
  }

  &--app {
    margin-right: 1rem;
  }
}

input[type='submit'] {
  cursor: pointer;
  border: none;
  display: block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 10rem;
  transition: all 0.2s;
  color: var(--color-light);
  background: var(--mid-orange);

  &:hover,
  &:active {
    background: var(--orange);
    transform: scale(1.03);
    outline: none;
  }
}
