footer {
  background: var(--mid-orange);
  color: $light-grey;

  & .row:first-of-type {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 0;

    @include respond(tab-port-s) {
      flex-flow: column;

      & > * {
        width: 100%;
      }

      .footer__nav {
        font-size: 1.5rem;
        width: 90%;
        & a {
          flex: 0 0 25%;
        }
      }
    }

    .footer__nav,
    .footer__social {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      list-style: none;
    }

    .footer__social {
      font-size: 2.5rem;

      @include respond(tab-port-s) {
        margin: 1.5rem 0;
        margin-bottom: 0;
      }

      & a .ion-social-facebook,
      & a .ion-social-twitter,
      & a .ion-social-instagram,
      & a .ion-social-googleplus {
        transition: color 0.3s;
      }
      & a:hover .ion-social-facebook {
        color: #3b5998;
      }
      & a:hover .ion-social-twitter {
        color: #55acee;
      }
      & a:hover .ion-social-instagram {
        color: darken($color: #dd4b39, $amount: 10);
      }
      & a:hover .ion-social-googleplus {
        color: darken($color: #e95950, $amount: 20);
      }
    }
  }

  & .row:nth-of-type(2) {
    text-align: center;
    padding: 2rem;

    p {
      cursor: default;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    display: block;
    color: $light-grey;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: $dark-grey;
    }
  }

  .copyright {
    padding: 1rem;
    font-size: 1.3rem;
  }
}
